<div class="bg-dark">
  <div class="container">
    <div class="row text-light">
      <div class="col">
        <img class="logo-footer" src="assets/images/icons/logo-01.png" alt="">
        <br>
        <div class="card app-card text-white bg-dark mb-3">
          <div class="card-body">
            <h5 class="card-title">Contactez-nous</h5>
            <p class="card-text">
              Phone : 0033 (0)1 84 800 400
              <br>
              Email: devis@medespoir-shop.com
            </p>
          </div>
        </div>
        <br>
      </div>
      <div class="col">
        <br>
        <div class="card app-card text-white bg-dark mb-3">
          <div class="card-body">
            <h5 class="card-title">Savoir Plus</h5>
            <ul class="nav flex-column">
              <li class="nav-item text-light">
                <a class="nav-link" aria-current="page" href="#">Mode de paiement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Condition de l’offre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Passer une commande</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Inscription et Connexion</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <br>
        <div class="card app-card text-white bg-dark mb-3">
          <div class="card-body">
            <h5 class="card-title">Paiement</h5>
            <ul class="nav flex-column">
              <li class="nav-item text-light">
                <a class="nav-link" aria-current="page" href="#">My Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Wishlist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shopping Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Validation de la Commande</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <br>
        <div class="card app-card text-white bg-dark mb-3">
          <div class="card-body">
            <h5 class="card-title">Newsletter</h5>
            <br>
            L'abonnement signifie que vous acceptez de recevoir nos emails, plus de détails s'il vous plaît se référer à notre politique de confidentialité. 
            <br><br>
            <input class="form-control bg-dark" type="text" placeholder="jan.doe@email.com">
            <div>
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

</div>