<div class="list-group">
    <div class="row" *ngFor="let product of cart">
        <a class="list-group-item list-group-item-action" aria-current="true">
            <div class="row">
                <div class="col-3">
                    <img src="assets/images/{{product.image}}" class="img-fluid product-image" alt="">
                </div>
                <div class="col">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ product.name }}</h5>
                        <small>x {{ product.quantity }}</small>
                    </div>
                    <p class="mb-1 text-secondary">Price: {{ product.price }} $</p>
                </div>
            </div> 
        </a>
        <br>
    </div>
    <br>
    <div class="alert">
        <div class="text-dark text-end">
            Total: <b>{{ total | number }}$</b>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-end">
            <button type="button" class="btn btn-secondary">Back to shop</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-warning">Purchase</button>
        </div>
    </div>
</div>
