<div class="row">
    <div class="col col-md-4 offset-2">
        <div class="banner-container">
            <img src="assets/images/banner-10.jpg" alt="">
            <div class="text-block">
                <h3><b>Soin & massage</b></h3>
            </div>
        </div>
    </div>
    <div class="col col-md-4 banner2">
        <div class="banner-container">
            <img class="banner2" src="assets/images/banner-11.jpg" alt="">
            <div class="text-block">
                <h3><b>Billets d'avion</b></h3>
            </div>
        </div>
    </div>
</div>