/* You can add global styles to this file, and also import other style files */

.logo {
    height: 3em;
    margin-right: 5em;
}

.logo-footer {
    height: 5em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 8em;
}

.app-card {
    border: none;
}

.product {
    margin: 1em;
}

// 
* {
    font-family: "Poppins-SemiBold", sans-serif !important
}